@tailwind base;
@tailwind components;
@tailwind utilities;

#navbar{
    box-shadow: 10px 10px 20px rgb(79, 77, 77);
    background: linear-gradient(90deg, rgba(216,216,224,1) 0%, rgba(234,232,240,1) 35%, rgba(202,212,208,1) 100%);
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .2s;
}
.card:hover{
    transform: scale(1.02);
    overflow: hidden;
}


.social{
    background: linear-gradient(90deg, rgba(179,209,212,1) 0%, rgba(207,200,213,1) 35%, rgba(159,170,163,1) 100%);
}

.social_icon{
    transition: transform .2s;
}
.social_icon:hover{
    transform: scale(1.25);
    overflow: hidden;
}

.logo{
    transition: all;
    transition: transform .2s;
}

.logo:hover{
    transform: scale(1.15);
    
}

.section1{
    background: #F5EFE6;
}

.section2{
    background: #0A192F;
}
.section3{
    background: #E3F2FD;
}
.section{
    background: linear-gradient(90deg, rgba(108,110,107,1) 8%, rgba(9,10,8,1) 36%, rgba(96,99,98,1) 76%);
}
.section4{
    background:   #E5E5F7;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side,#000 90%,#0000) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
  }
  @keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}

  .single_blog{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }